@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script&display=swap"); /* font-family: 'Bebas Neue', sans-serif; | font-family: 'Dancing Script', cursive; */

:root {
  --fontepadrao: Verdana, Geneva, Tahoma, sans-serif;
  --fonteconteudo: "Dancing Script", cursive;
  --fontetitulo: "Bebas Neue", sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  min-height: 100dvh;

  font-family: var(--fontepadrao);

  background-color: darkgray;
}

header {
  min-height: 250px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;

  color: white;
  background-color: black;
}

header > h1 {
  font-size: clamp(2rem, 10vw, 8rem);
  font-family: var(--fontetitulo);
  font-variant: small-caps;
}

header a,
footer a {
  text-decoration: none;

  font-weight: bolder;

  color: white;
}

header a:hover,
footer a:hover {
  text-decoration: underline;
}

section {
  display: flex;
  flex-flow: column nowrap;

  padding: 3rem 0 3rem 30px;
  gap: 1em;

  font-size: clamp(1rem, 4vw, 3rem);
  font-family: var(--fonteconteudo);
  line-height: 2em;
}

section.normal {
  color: black;
  background-color: white;
}

section.imagem {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  color: white;
  box-shadow: inset 6px 6px 13px rgba(0, 0, 0, 0.4);
}

section#img01 {
  background-image: url(../images/background001.jpg);
}

section#img02 {
  background-image: url(../images/background002.jpg);
}

section.imagem > p {
    width: fit-content;
  display: inline-block;

  padding: 40px;

  background-color: rgba(0, 0, 0, 0.4);
  text-shadow: 2px 2px 0px black;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 15px;
}
